.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.color {
  border-radius: 50%;
  width: 77px;
  height: 90px;
}

.trafficWrap {
  display: flex;
  gap: 20px;
  align-items: center;
}
.trafficLight {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 200px;
  padding: 6px;
}

.clicker {
  background: yellow;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.minus, .plus, .reset{
    border-radius: 6px;
    border: 1px solid grey;
}