.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.color {
  border-radius: 50%;
  width: 77px;
  height: 90px;
}

.trafficWrap {
  display: flex;
  gap: 20px;
  align-items: center;
}
.trafficLight {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 200px;
  padding: 6px;
}

.clicker {
  background: yellow;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.minus,
.plus,
.reset {
  border-radius: 6px;
  border: 1px solid grey;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  background-color: pink;
  transform: scale(2);
}
#kgs-input {
  padding: 10px;
  font-size: 24px;
}
#kgs-input:focus {
  outline: none;
}
.currencies {
  width: 400px;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.currencies.visiable{
    display: flex;

}
.block {
  background-color: rgb(63, 240, 14);
  display: flex;
  position: relative;
}

.block span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.block h2{
  margin-left: 25px;
}

.mainWrap{
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.inputWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#number1, #number2, .compare {
  outline: none;
  border: 1px solid pink;
  border-radius: 8px;
  height: 30px;
  box-shadow: 0 2px 5px;
}
.compare:active{
box-shadow: inset 0 0 6px;
}
.comparisonSigns{
  color: white;
  font-size: 20px;
}
* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  background-image: inherit;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  transition: 0.4s ease;
}

body::before {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
} */

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
gap: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* position: relative;   */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  background-position: center center;
  background-size: cover;
  height: 600px;
  width: 100px;
  transition: 0.6s ease;
  border-radius: 50px;
}

.slide.active {
width: 600px;
/* transform: scale(2); */
}

/*

.arrow {
  background-color: rgba(128, 128, 128, 0.15);
  color: #fff;
  cursor: pointer;
  font-size: 80px;
  text-align: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  height: 30%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  outline: 0;
  background-color: rgba(128, 128, 128, 0.8);
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}

.nav {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.nav-item {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
}

.nav-item.active {
  opacity: 1;
  transform: scaleX(1.2);
} */
