.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.color {
  border-radius: 50%;
  width: 77px;
  height: 90px;
}

.trafficWrap {
  display: flex;
  gap: 20px;
  align-items: center;
}
.trafficLight {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100px;
  height: 200px;
  padding: 6px;
}

.clicker {
  background: yellow;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.minus,
.plus,
.reset {
  border-radius: 6px;
  border: 1px solid grey;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  background-color: pink;
  transform: scale(2);
}
#kgs-input {
  padding: 10px;
  font-size: 24px;
}
#kgs-input:focus {
  outline: none;
}
.currencies {
  width: 400px;
  display: none;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.currencies.visiable{
    display: flex;

}
.block {
  background-color: rgb(63, 240, 14);
  display: flex;
  position: relative;
}

.block span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.block h2{
  margin-left: 25px;
}

.mainWrap{
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}
.inputWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#number1, #number2, .compare {
  outline: none;
  border: 1px solid pink;
  border-radius: 8px;
  height: 30px;
  box-shadow: 0 2px 5px;
}
.compare:active{
box-shadow: inset 0 0 6px;
}
.comparisonSigns{
  color: white;
  font-size: 20px;
}